<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <a class="navbar-brand" routerLink="/">Sakhi</a>
  
      <!-- Navbar Toggler (For small screens) -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar Links (on the right) -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">
              <i class="fa-solid fa-house"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admissions">
              <i class="fa-solid fa-graduation-cap"></i> Education
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/jobs">
              <i class="fas fa-cogs"></i> Career
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">
              <i class="fa-solid fa-notes-medical"></i> Health
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/safety">
              <i class="fa-solid fa-shield"></i> Safety
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">
              <i class="fas fa-address-card"></i> About
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  